<% postfix = '' if local_assigns[:postfix].nil? %>

<% @exercises.each do |exercise| %>
  <div class="form-line">
      <%= form.label "exercise_#{exercise.id}#{postfix}", "#{exercise.name}:" %>
      <% if exercise.exercise_type == 'total_weight' %>
        (total pounds)
      <% end %>

      <% if exercise.exercise_type == 'minutes' %>
        (minutes)
      <% end %>

      <% if exercise.url %>
        <%= link_to '(watch)', exercise.url %>
      <% end %>
    <%= form.number_field "exercise_#{exercise.id}#{postfix}", value: values[exercise.name] %>
  </div>
<% end %>
