// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.Home {
    padding: 20px;
}

.form-line {
    margin-bottom: 16px;
    label {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.Home-name {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
